/* General styling */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2aa4c;
  color: #222;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253439;
  padding: 15px 40px;

}

.logo {
  font-size: 1.6em;
  color: #f2aa4c;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f2aa4c;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #253439, #f2aa4c);
  color: #fff;
}

.hero h1 {
  font-size: 2.8rem;
  color: #fff;
}

.hero p {
  font-size: 1.1em;
  margin: 15px 0 25px;
}

.btn {
  background-color: #f2aa4c;
  color: #101820;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background-color: #fff;
  color: #101820;
}

.about-preview{
  text-align: center;
  padding: 60px 20px;
  background-color: #253439;
}

.services-preview {
  text-align: center;
  padding: 60px 20px;
  background-color: #f2aa4c;
}

.featured-project{
  text-align: center;
  padding: 60px 20px;
  background-color: #253439;
}

.featured-project h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.featured-project p{ 
  margin-bottom: 20px;
  color: #fff;
}


.about-preview h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.about-preview p{ 
  margin-bottom: 20px;
  color: #fff;
}

.services-preview h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
} 

.service-box {
  display: inline-block;
  width: 250px;
  margin: 15px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 15px #000000;
  border: #222 2px solid;
}
.marquee-text {
  display: block;
  background-color: #253439;
  color: #f2aa4c;
  padding: 12px 0;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
    border-top: 3px solid #f2aa4c;
  line-height: 1;}




/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101820;
  color: #fff;
  padding: 15px 40px;
}

footer .social a {
  margin-left: 20px;
  color: #f2aa4c;
  text-decoration: none;
}

footer .social a:hover {
  color: #fff;
}